#section p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5 em;
    text-indent: 16px;
}
.nose {
    text-indent: 0px !important;
}
tr:nth-child(odd) {
    background-color: #e6e6fa;
}
tr:nth-child(even) {
    background-color: #fff0f5;
}
td {
    color: black;
}
p:hover {
    background-color: blueviolet;
}
tr:hover {
    background-color: aqua;
}